@import "src/styles/colors";
@import "src/styles/breakpoints";

.page {
  background: $blue;
  min-height: 100vh;
}

.wrap {
  background: $white;
  margin: 30px auto;
  max-width: 1000px;
  border-radius: 16px;
  padding: 30px 30px 20px;
  box-sizing: border-box;
  font-size: 18px;
}

.rowContainer {
  flex-direction: column;
}

.area {
  margin-bottom: 10px;

  span {
    opacity: 0.7;
  }
}
.competition {
  span {
    opacity: 0.7;
    margin-right: 7px;
  }
  a:hover {
    box-shadow: 0 4px 25px rgba(6, 98, 59, 0.15);
    opacity: 0.8;
  }
}

.linkCell:hover {
  box-shadow: 0 4px 25px rgba(6, 98, 59, 0.15);
  opacity: 0.7;
}

.containRow {
  box-shadow: 0 4px 25px rgba(6, 98, 59, 0.15);
  :hover {
    box-shadow: none;
  }
}

.statusCell {
  opacity: 0.7;
}

.nameCell {
  font-size: 14px;
  width: 60px;
  padding: 0;
  opacity: 0.7;
}

.scoreCell {
  margin-right: 50%;
  text-align: center;
  padding: 0;
  opacity: 0.7;

  span {
    margin: 0 5px;
  }
}
